.header {
 
}

.footer {
  
}

.gameboard {
  width: 306px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 10px auto;
}

.cell {
  width: 100px;
  height: 100px;
  /* box-shadow: 2px 2px 2px 2px #ecd7ba; */
  border: 2px solid #ecd7ba;
}

