:root {
  --main-border: 2px solid #ecd7ba;
}

.gameboard {
  width: 306px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 10px auto;
}

.cell {
  width: 100px;
  height: 100px;
}

.gameLetter p {
 font-size: 95px; 
 font-weight: 800;
 position: relative;
 top: -95px;
 left: 15px;
}

/* Draw board */
#three,
#four,
#five,
#six,
#seven,
#eight {
  border-top: var(--main-border);
}

#zero,
#one,
#three,
#four,
#six,
#seven {
  border-right: var(--main-border);
}