:root {
  --main-border: 2px solid #ecd7ba;
  --letter-font: Arial, Helvetica, sans-serif;
}

.squares {
  width: 306px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin: 10px auto;
}

.square:hover {
  background-color: #dad9d9;
}

.square {
  font-family: var(--letter-font);
  font-size: 95px; 
  font-weight: 300;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  border: var(--main-border);
}

/* Draw board */
#three,
#four,
#five,
#six,
#seven,
#eight {
  border-top: var(--main-border);
}

#zero,
#one,
#three,
#four,
#six,
#seven {
  border-right: var(--main-border);
}